@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500&family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Lexend+Deca&family=Open+Sans:wght@300;400;600;700&family=Poppins:wght@100;300;500;700;900&family=Roboto:wght@100;300;400;500;700;900&family=Sansita+Swashed:wght@300&display=swap');

:root {
  --yellow: #EAAE10;
  --pink-light: #EF5B5B;
  --blue-one: #1C2134;
  --blue-secondary: #181E38;
  --blue-dark: #0d0f1a;
  --verde: #20FC8F;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  color: #fff;
}

body {
  background: radial-gradient(circle, rgba(24, 30, 56, 1) 0%, rgb(19, 21, 34) 0%);
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 100px 1fr;
  grid-template-areas:
    "header header"
    "aside recursos"
  ;
}

body::-webkit-scrollbar {
  width: 15px;
  background: var(--blue-dark);
}

body::-webkit-scrollbar-thumb {
  background: var(--yellow);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

a {
  text-decoration: none;
  color: #fff;
}

.header {
  grid-area: header;
  width: 100%;
  height: 100px;
  background: var(--blue-dark);
  position: fixed;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}

.header h2 {
  font-size: 2.5rem;
  color: var(--yellow);
}

.header h2 i {
  color: var(--yellow);
  font-size: 2rem;
}

.volver-index a {
  font-size: 1.75rem;
  cursor: pointer;
}

.volver-index a i {
  font-size: 1.75rem;
}

.volver-index a:hover>i {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

/*contenido-principal*/
.container-recursos {
  width: 90%;
  height: max-content;
  padding-left: 3.5rem;
  padding-top: 1rem;
  grid-area: recursos;
}

.container-item-recursos {
  padding: 2rem 0;
  width: 90%;
  margin: 0 auto;
  height: max-content;
}

.container-item-recursos h3 {
  font-size: 2rem;
  margin: 2rem 0;
  text-align: center;
  text-transform: uppercase;
}

.item-cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.item-card {
  min-width: 195px;
  height: 210px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.item-card:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.item-card .img-page {
  width: 150px;
  height: 130px;
  margin-top: 17.5px;
}

.img-page img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.page-absolute {
  width: 125px;
}

.page-absolute p {
  text-align: center;
  color: #000;
  font-size: 1.25rem;
}

.name-page {
  font-weight: 900;
}

/*colores de tarjetas*/
.paletas .item-card {
  background: #FBF8CC;
}

.tipography .item-card {
  background: #F1C0E8;
}

.icons .item-card {
  background: #A3C4F3;
}

.imagenes .item-card {
  background: #FFCFD2;
}

.css-generators .item-card {
  background: #B9FBC0;
}

/* ----- */

/*aside-recursos*/
.menu-recursos-list {
  position: absolute;
  top: 100px;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background: var(--blue-dark);
  height: calc(100vh - 100px);
  overflow-y: scroll;
  grid-area: aside;
  position: fixed;
}

.recursos-name h2 {
  font-size: 2rem;
  color: #FFF;
}

.menu-recursos-list .lista-recursos ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.menu-recursos-list .lista-recursos ul li {
  padding: 1.3rem;
}

.menu-recursos-list .lista-recursos ul li a {
  font-size: 1.2rem;
  font-weight: 300;
}

.menu-recursos-list .lista-recursos ul li a:hover {
  color: var(--yellow);
}

.menu-recursos-list::-webkit-scrollbar {
  width: 15px;
  background: var(--blue-secondary);
}

.menu-recursos-list::-webkit-scrollbar-thumb {
  background: var(--yellow);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  height: 10px;
}

/*aside-redes*/
.social-media {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 10px;
  top: 30%;
  width: 80px;
  background: var(--blue-dark);
  align-items: center;
  padding: 1rem 0;
  gap: 1rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.social-media img {
  width: 36px;
  height: 36px;
}

.social-media img:hover {
  transform: scale(1.15);
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -ms-transform: scale(1.15);
  -o-transform: scale(1.15);
  filter: drop-shadow(0 0 3px var(--pink-light));
  -webkit-filter: drop-shadow(0 0 3px var(--pink-light));
}

/*foooter*/
.container-footer {
  width: 100%;
  text-align: center;
  height: 10vh;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  align-items: center;
  justify-content: center;
}

.container-footer p {
  font-weight: 100;
}

/*arreglo de scroll*/
.container-recursos div[id] {
  scroll-margin-top: 100px;
}